.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 30rem;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
    /* scroll view */
    padding-top: 3rem;
}


/* left side */

.awesome {
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 20px; */
    margin-bottom: 2rem;
}

.awesome> :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome> :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome> :nth-child(3) {
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}

.s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}


/* right sided */

.cards {
    position: relative;
}

.cards>* {
    position: absolute;
}


/* blur */

.s-blur2 {
    left: 14rem;
    top: 8rem;
}

.s-blur1 {
    top: 13rem;
    left: -18rem;
}

@media screen and (max-width: 1000px) {
    .c-1 {
        left: 10rem !important;
    }
    .c-2 {
        top: 21rem !important;
        left: 5rem !important;
    }
    .c-3 {
        top: 7rem !important;
        left: -5rem !important;
    }
}

@media screen and (max-width: 900px) {
    .c-1 {
        left: 7rem !important;
    }
    .c-2 {
        top: 20rem !important;
        left: 4rem !important;
    }
    .c-3 {
        top: 12rem !important;
        left: -11rem !important;
    }
}

@media screen and (max-width: 850px) {
    .s-blur2 {
        left: 10rem;
    }
    .cards {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .cards>* {
        position: absolute;
        margin-bottom: 1rem;
    }
    .c-1 {
        left: 17rem !important;
    }
    .c-2 {
        top: 20rem !important;
        left: 14rem !important;
    }
    .c-3 {
        top: 12rem !important;
        left: -1rem !important;
    }
    .services {
        flex-direction: column;
        height: 46rem;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .s-blur2 {
        left: 0rem;
        top: 8rem;
    }
    .services {
        flex-direction: column;
        justify-content: center;
        height: 66rem;
        padding: 0;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
    .cards>* {
        position: static;
        margin-bottom: 18rem;
    }
}