.project {
    margin: 10px 10px;
    border: 2px solid rgb(217, 215, 215);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.wrapper {
    display: flex;
    width: 300px;
    height: 40vh;
}

.p-card {
    position: relative;
    display: flex;
}

.p-browser {
    height: 20px;
    background-color: rgb(217, 215, 215);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-desc {
    height: 20px;
    background-color: rgb(217, 215, 215);
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 20px;
    font-size: 15px;
    width: 40%;
}

.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    margin: 3px;
}

.p-img {
    width: 100%;
    transition: all 20s ease;
}

.project:hover .p-img {
    transform: translateY(-100%);
}

@media screen and (max-width: 680px) {
    .project {
        width: 80%;
        height: 30vh;
    }
}