.card {
    width: 10rem;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1;
    align-items: center;
    width: 10rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0 26px 2rem 26px;
}

.card>span {
    margin: 10px;
}

.card span:nth-child(2) {
    color: var(--gray);
    font-size: 20px;
}

.card>img {
    transform: scale(0.6);
    margin-bottom: -2rem;
}

.c-button {
    background: #fff;
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #5290Fd;
}


/* @media screen and (max-width: 1000px) {
    .card {
        width: auto;
        margin: 1rem;

    }
} */

@media screen and (max-width: 480px) {
    .card {
        width: auto;
        margin: 1rem;
    }
}