.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left {
    align-items: center;
    display: flex;
}

.n-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 1rem;
}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list {
    flex: 10;
}

.n-list>ul {
    display: flex;
    margin-left: 0rem;
    list-style-type: none;
}

.n-list>ul>li {
    margin: 10px;
}

.n-list>ul>li:hover {
    color: var(--orange);
    cursor: pointer;
}

.n-button {
    flex: 2;
    margin-left: 2rem;
}

@media screen and (max-width: 880px) {
    .n-list>ul {
        margin-left: 10rem;
    }
    .n-name {
        width: auto;
        margin-right: 25rem;
    }
    .n-list {
        display: none;
    }
    .n-button {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .n-name {
        width: auto;
        margin-right: 10rem;
    }
}